%p Dear #{@user.first_name},
%p Someone has recently commented on a post you're subscribed to at UltrasoundGEL.org.
%p= link_to @post_url, @post_url
%p
  Thanks for listening and engaging,
  %br
  the Ultrasound GEL podcast team
