.container-fluid
  .row
    .col-md-8.col-md-offset-2
      %h3.text-center Citations
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th Episode
              %th Title
              %th Link
              %th Citation
          %tbody
            - @episodes.each_with_index do |episode, index|
              - index = index + 1
              %tr
                %td.text-center= index
                %td= episode.post.title
                %td= home_url + index.to_s
                %td= render partial: "partials/citation", locals: { index: index, post: episode.post }
