.modal.fade#search-modal(tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
      %form.form-horizontal(action="/")
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-label="Close")
            %span(aria-hidden="true") &times;
          %h4.modal-title Search
        .modal-body
          .form-group
            = label_tag :search, "Search", class: "control-label col-sm-3"
            .col-sm-9
              = text_field_tag :search, "", placeholder: Post.where.not(tags: nil).first.tag_list.first, class: "form-control"
        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Cancel
          = submit_tag "Search", class: "btn btn-primary", name: nil
