.container-fluid
  .row
    .col-12
      .card
        .card-header
          %h4 App
        .card-body
          = render partial: "form"
  .row
    .col-12
      .card
        .card-header
          %h4 Images
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th Name
              %th Image
          %tbody
            %tr
              %td Share Image
              - if app.share_image.present?
                %td= image_tag app.share_image.square.url
              - else
                %td None
            %tr
              %td Navbar Image
              - if app.navbar_image.present?
                %td= image_tag app.navbar_image.small.url
              - else
                %td None
