.container-fluid
  .row
    .col-md-6(class="col-md-offset-#{app.sidebar.blank? ? 3 : 1}")
      - if @html
        .text-center= @html
      - @posts.each do |post|
        = render partial: "partials/post", locals: { post: post }
    - if app.sidebar.present?
      .col-md-4
        .spacer-10
        .panel.panel-success
          .panel-heading More Information
          .panel-body= app.sidebar_to_html
