@import "variables";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700|Dosis:400,700);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: $black;
  font-family: "Raleway", sans-serif;
}
a {
  color: $theme;
  &:active, &:focus, &:hover {
    color: $blue;
  }
}
em {
  font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.btn-themed {
  @include button-variant(white, $theme, $theme);
}
.btn-icon {
  color: $theme;
  padding: 0;
  &:active, &:focus, &:hover {
    color: $blue;
  }
}
.inline-block {
  display: inline-block;
}

.no-space {
  margin: 0;
  padding: 0;
}

@for $i from 1 through 8 {
  .spacer-#{$i*10} {
    padding-bottom: $i*10px;
  }
  .spacer-top-#{$i*10} {
    margin-top: $i*10px;
  }
}
