@import "bootstrap";
@import "variables";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700|Dosis:400,700);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: $black;
  font-family: "Raleway", sans-serif;
}
a {
  color: $red;
  &:active, &:focus, &:hover {
    color: $blue;
  }
}
em {
  font-size: 24px;
}

.btn-red {
  @include button-variant(white, $red, $red);
}

@for $i from 1 through 8 {
  .spacer-#{$i*10} {
    padding-bottom: $i*10px;
  }
  .spacer-top-#{$i*10} {
    margin-top: $i*10px;
  }
}
