@import "variables";

.navbar.center {
  text-align: center;
}

.navbar.center .nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.admin-navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: $theme;
  background-color: $theme;
  .navbar-nav > li > a {
    color: $white;
  }
}
