$white: white;
$black: black;
$blue: #4D90FE;
$green: #00CC99;

$theme: $green;
$brand-primary: $blue;
$brand-success: $green;
$state-success-text: darken($brand-success, 15%);
$state-success-bg: lighten($brand-success, 36%);

@import "bootstrap/variables";
