@import "~trix/dist/trix";

.content-editor {
  max-width: map-get($grid-breakpoints, md);
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    margin-left: -50%;
    margin-right: -50%;
    width: map-get($grid-breakpoints, md);
  }
}

.trix-content {
  img, video { max-width: 100%; }

  :not(.attachment-gallery) {
    > action-text-attachment,
    > .attachment {
      display: block;
      margin: 20px 0;
      text-align: center;
    }
  }

  .attachment__caption { display: none; }
  .attachment-gallery {
    margin: 20px 0;

    .attachment {
      max-width: 100% !important;
      padding: 0 0.5em;
    }

    &.attachment-gallery--2 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
      }
    }

    &.attachment-gallery--3 {
      > action-text-attachment,
      > .attachment {
        flex: 1 0 33%;
      }
    }

    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 25%;
      }
    }
  }
}

trix-editor {
  margin-top: 10px;
}

trix-toolbar {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;

  .trix-button-group { margin-bottom: 0; }
}
