html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a, button {
  color: $theme;
  &:active, &:focus, &:hover {
    color: $blue;
  }
}
button {
  padding: 0;
}
em {
  font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.badge-themed {
  @include button-variant($theme, $theme, $theme);
}
.btn-themed {
  @include button-variant($theme, $theme, $theme);
}
.btn-icon {
  color: $theme;
  padding: 0;
  &:active, &:focus, &:hover {
    color: $blue;
  }
}
