audio[controls] {
  max-width: 100%;
  min-height: 60px;
}

.posts-show .store-links { margin: 0 auto; }
.store-links {
  max-width: 100%;
  width: 300px;
  a {
    display: inline-block;
    width: 50%;
    &.apple {
      padding-right: 5px;
    }
    &.google {
      padding-left: 5px;
    }
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
