- code = get_content("General", "Google Analytics Code")
- if code.present?
  %script(async src="https://www.googletagmanager.com/gtag/js?id=#{code}")

  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "#{code}");
