- if app.google_analytics_code.present?
  %script(async src="https://www.googletagmanager.com/gtag/js?id=#{app.google_analytics_code}")

  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "#{app.google_analytics_code}");
